In [1]:

import sqlalchemy
import pandas as pd
import yfinance as yf
import pymysql

In [2]:
pymysql.install_as_MySQLdb()

In [4]:
engine=sqlalchemy.create_engine('mysql://root:38157717Dd@localhost:3306/')

In [ ]:
engine.execute(sqlalchemy.schema.CreateSchema('RealStateSales'))

In [ ]:
engine=sqlalchemy.create_engine('mysql://root:38157717Dd@localhost:3306/RealStateSales')

In [ ]:
detroit= pd.read_csv('csv\propsales.csv')
detroit.to_sql('detroit',engine)

In [10]:
detroit= pd.read_csv('csv\Residential_Rental_Registrations.csv')
detroit.to_sql('rental',engine)

33440

In [ ]:
detroit= pd.read_csv('csv\MSPUS.csv')
detroit.to_sql('avrgHousesSoldUS',engine)

In [8]:
detroit= pd.read_csv('csv\PopulationDataDetroitMetro.csv', delimiter=';')
detroit.to_sql('popdetriotmetro',engine)
detroit= pd.read_csv('csv\detroitMetroemploymentdata.csv', delimiter=';')
detroit.to_sql('unemploydetroitmetro',engine)

38

     Year Area Type  Employed  Labor Force  Unemployed Unemployment Rate
0    1990    County    857281       944393       87112               9,2
1    1991    County    836228       939619      103391                11
2    1992    County    849122       951152      102030              10,7
3    1993    County    866617       942688       76071               8,1
4    1994    County    879764       939612       59848               6,4
..    ...       ...       ...          ...         ...               ...
420  2017    County    760981       803908       42927               5,3
421  2018    County    776912       817531       40619                 5
422  2019    County    781104       816091       34987               4,3
423  2008    County    767980       855835       87855              10,3
424  2009    County    722371       856463      134092              15,7

[425 rows x 6 columns]

In [5]:
detroit= pd.read_csv('csv\Poverty by Age and Sex.csv')
detroit.to_sql('poverty',engine)

208

In [5]:
detroit= pd.read_csv('csv\Median Household Income.csv')
detroit.to_sql('income',engine)

64

In [5]:
detroit= pd.read_csv('csv\Povertymetro.csv')
detroit.to_sql('povertymetro',engine)

64